/*书籍介绍页*/
.toolBar {
  background: url(img/logos_c79bc13.png) center center no-repeat #00d37d;
  background-size: auto 44px;
}
.toolBar{
    height:43px;
/*    background:#00d37d;*/
    border-bottom:1px solid #c2c2c2;
    position:relative;
    line-height:43px;
    text-align:center;
    color:#fff;
    font-size:18px;
    padding:0 8px 0 4px
}
.toolBar a{
    position:absolute;
    display:block;
    color:#fff;
    font-size:14px;
    height:26px;
    line-height:26px;
    top:8px;
    border:1px solid #00b068;
    background:#00e185;
    font-weight:400
}
.toolBar a.return{
    border:0;
    height:28px;
    line-height:28px;
    width:40px;
    padding:0 1px 0 9px;
    text-align:center;
    overflow:hidden;
    background:url(img/return_6d.png);background-size:50px 28px
}
.toolBar a.options{right:8px;padding:0 10px}

.bookInfo {
    padding: 18px;
    background: #f5f0eb;
    border-bottom: #dad5d0 1px solid;
    display: block;
}

.bookInfo .info {
position: relative;
padding-left: 128px;
min-height: 150px;
}

.bookInfo .info img {
    position: absolute;
    left: 0;
    top: 0;
    width: 110px;
    height: 146px;
    border-radius: 5px;
    border-bottom: 2px solid #b5aeac;
}

.bookInfo .info .name_author {
    height: 78px;
}

.bookInfo .info .name {
    color: #6d6860;
    font-size: 18px;
    line-height: 20px;
    max-height: 40px;
    overflow: hidden;
    margin-bottom: 5px;
}

.bookInfo .info .author {
    max-height: 36px;
    overflow: hidden;
}

.bookInfo .info .author, .bookInfo .info .num_size, .bookInfo .info .price {
    font-size: 12px;
    color: #a39c95;
    line-height: 18px;
}

    .bookInfo .info .price .discount {
        background: #e57233;
        margin-left: 5px;
        border-radius: 5px;
        display: inline-block;
        padding: 0 3px;
        color: #fff;
    }

.bookInfo .info .star {
    position: relative;
    height: 10px;
    width: 64px;
    background: url(img/star_546dce0.jpg) 0 -10px;
    background-size: 13px auto;
    margin-bottom: 5px;
}

    .bookInfo .info .star div {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background: url(img/star_546dce0.jpg) 0 0;
        background-size: 13px auto;
    }

.bookInfo .btns {
display: -webkit-box;
margin-top: 12px;
position: relative;
}

.bookInfo .btns button, .bookInfo .btns a {
    padding: 0;
    -webkit-box-flex: 1;
    display: block;
    -webkit-appearance: none;
    outline: 0;
    border-radius: 5px;
    line-height: 36px;
    height: 36px;
    font-size: 14px;
    text-align: center;
}

.bookInfo .btns .w1 {
    width: 140px;
}

.bookInfo .btns .blank {
    width: 12px;
    display: block;
}

.bookInfo .btns .yellow {
    background: #f17835;
    color: #fff;
    border: 0;
    border-bottom: #e1621b 3px solid;
}

.bookInfo .btns .orange {
    background: #f38042;
    color: #fff;
    border: 0;
    border-bottom: #de6c2d 3px solid;
}

    .bookInfo .btns .orange:hover {
        background: #f79052;
    }

.bookInfo .btns .gray {
    background: #fdfcfa;
    color: #625d54;
    border: 0;
    border-bottom: #dad5ce 3px solid;
}

.bookInfo .btns .tap {
    position: absolute;
    left: 0;
    top: 38px;
    display: inline-block;
    background: rgba(0,0,0,.8);
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
}

    .bookInfo .btns .tap .tap-container {
        position: relative;
        padding: 7px 16px;
        border-radius: 4px;
        overflow: hidden;
    }

    .bookInfo .btns .tap span.text {
        display: inline-block;
        z-index: 10;
        position: absolute;
        font-size: 13px;
    }

    .bookInfo .btns .tap span.hide {
        visibility: hidden;
        font-size: 13px;
    }

    .bookInfo .btns .tap span.ylw {
        color: #f17836;
    }

.bookInfo .btns .twinkle {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    width: 10px;
    height: 50px;
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.8)),color-stop(0.5,#ffe68e),to(rgba(0,0,0,.8)));
    background-repeat: no-repeat;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    position: absolute;
    left: -22px;
    top: -9px;
    -webkit-animation: thrill-through 1.5s cubic-bezier(0.36,.24,.07,.97) 2s infinite;
    animation: thrill-through 1.5s cubic-bezier(0.36,.24,.07,.97) 2s infinite;
}

.bookInfo .btns .tap:after {
    content: '';
    position: absolute;
    top: -5px;
    left: 64px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid rgba(0,0,0,.8);
}

.intro_cat_cmts {
        padding: 18px 18px 0;
}

.intro_cat_cmts .title {
    display: -webkit-box;
}

.intro_cat_cmts .title span {
    -webkit-box-flex: 1;
    display: block;
    text-align: center;
    line-height: 20px;
    border-bottom: #cdc7c0 1px solid;
    padding-bottom: 15px;
    color: #716c66;
}

.intro_cat_cmts .title .on {
    color: #24ae34;
    border-bottom: 0;
    background: url(img/titleBg_fb24d57.png) no-repeat center bottom;
    background-size: auto 6px;
}

.intro_cat_cmts .title.appzx .on {
    color: #a40000;
}

.intro_cat_cmts ul {
padding: 18px 0 0;
}

.intro_cat_cmts ul .summary {
}

    .intro_cat_cmts ul .summary div {
        line-height: 18px;
        font-size: 14px;
        overflow: hidden;
        color: #67625a;
    }

.intro_cat_cmts ul .no_item {
    text-align: center;
    line-height: 4;
    font-size: 16px;
    color: #67625a;
}

.intro_cat_cmts ul .cat {
    display: none;
}

.intro_cat_cmts ul .cat div {
    font-size: 14px;
    overflow: hidden;
    color: #67625a;
}

.intro_cat_cmts ul .cat div p {
    line-height: 24px;
    padding-left: 12px;
    position: relative;
}

.intro_cat_cmts ul .cat div p:before {
    position: absolute;
    left: 0;
    top: 10px;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    content: '';
    display: block;
    background: #67625a;
}

.intro_cat_cmts ul .more {
    color: #88837b;
    font-size: 14px;
    display: block;
    text-align: center;
    line-height: 3;
}

.intro_cat_cmts ul .comments {
    display: none;
    color: #67625a;
}

.intro_cat_cmts ul .comments .cmts .star {
    width: 110px;
    height: 20px;
}

.intro_cat_cmts ul .comments .cmts .star .range {
    float: left;
    position: relative;
    height: 12px;
    margin-top: 4px;
    width: 64px;
    background: url(img/star_546dce0.jpg) 0 -32px;
    background-size: 13px auto;
}

.intro_cat_cmts ul .comments .cmts .star .range div {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: url(img/star_546dce0.jpg) 0 -20px;
    background-size: 13px auto;
}

.intro_cat_cmts ul .comments .cmts .star span {
    float: left;
    padding-left: 5px;
    font-size: 12px;
    color: #46b650;
    line-height: 20px;
}

.intro_cat_cmts ul .comments .cmts .totalcmt {
    height: 20px;
    overflow: hidden;
    padding-bottom: 12px;
}

.intro_cat_cmts ul .comments .cmts .totalcmt strong {
    float: left;
    line-height: 20px;
    width: 70px;
}

.intro_cat_cmts ul .comments .cmts .totalcmt .star {
    float: left;
}

.intro_cat_cmts ul .comments .cmts .totalcmt .cmtNums {
    float: left;
    font-size: 12px;
    color: #888;
    line-height: 20px;
}

.intro_cat_cmts ul .comments .cmts .douban_zmazon {
    overflow: hidden;
}

.intro_cat_cmts ul .comments .cmts .douban_zmazon > div {
    padding-top: 12px;
    float: left;
    width: 50%;
}

.intro_cat_cmts ul .comments .cmts .douban_zmazon > div strong {
    display: block;
}

.intro_cat_cmts ul .comments .cmts .douban_zmazon > div .cmtNums {
    color: #888;
    font-size: 12px;
}

.intro_cat_cmts ul .comments .cmts .cmtslist {
    padding-top: 0;
}

.intro_cat_cmts ul .comments .cmts .cmtslist li {
    padding: 10px 0;
    border-bottom: #ddd 1px solid;
}

.intro_cat_cmts ul .comments .cmts .cmtslist li:first-of-type {
    padding-top: 0;
}

.intro_cat_cmts ul .comments .cmts .cmtslist li:last-of-type {
    padding-bottom: 0;
    border-bottom: 0;
}

.intro_cat_cmts ul .comments .cmts .cmtslist li .star {
    padding: 2px 0;
    width: 100%;
}

    .intro_cat_cmts ul .comments .cmts .cmtslist li .star span {
        font-size: 12px;
        color: #666;
    }

.intro_cat_cmts ul .comments .cmts .cmtslist li .cmttitle {
    font-size: 14px;
}

    .intro_cat_cmts ul .comments .cmts .cmtslist li .cmttitle span {
        font-size: 12px;
    }

.intro_cat_cmts ul .comments .cmts .cmtslist li .cmtContent {
    font-size: 14px;
    line-height: 24px;
    overflow: hidden;
    clear: both;
}

.intro_cat_cmts ul .comments .cmts .cmtslist li .cmtMore {
    display: none;
    text-align: center;
    line-height: 2;
}

.intro_cat_cmts ul .comments .cmts .allCmts {
	text-align: center;
	line-height: 2;
	display: block;
	background: #fff;
	border-radius: 5px;
	margin-top: 12px;
	color: #636363;
	font-size: 14px;
}

.intro_cat_cmts ul .comments .cmts .allCmts:active {
    background: #fefefe;
    color: #333;
}

.rmcd {
    background: #eee8e2;
    padding: 18px 18px 0;
}

.rmcd ul {
    padding: 8px 0;
}

.rmcd ul li {
    position: relative;
    padding-left: 55px;
    min-height: 73px;
    margin: 10px 0;
    border-bottom: #ddd 1px solid;
}

.rmcd ul li:last-of-type {
    border-bottom: 0;
}

.rmcd ul li img {
    position: absolute;
    left: 0;
    top: 0;
    width: 45px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid #b5aeac;
    border-bottom: 2px solid #b5aeac;
}

.rmcd ul li .name {
    color: #524d44;
    height: 28px;
    line-height: 28px;
    overflow: hidden;
}

.rmcd ul li .author {
    font-size: 12px;
    color: #9c968f;
}

.rmcd ul li .score span {
    float: left;
    color: #a39d96;
    font-size: 12px;
    line-height: 20px;
}

.rmcd ul li .star {
    width: 64px;
    float: left height:20px;
}

.rmcd ul li .star .range {
    float: left;
    position: relative;
    height: 12px;
    margin-top: 4px;
    width: 64px;
    background: url(img/star_546dce0.jpg) 0 -32px;
    background-size: 13px auto;
}

.rmcd ul li .star .range div {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: url(img/star_546dce0.jpg) 0 -20px;
    background-size: 13px auto;
}

.rmcd ul li .star span {
    float: left;
    padding-left: 5px;
    font-size: 12px;
    color: #46b650;
    line-height: 20px;
}
.moreInfo {
    padding: 0 18px 18px;
}

.moreInfo div {
    padding-top: 8px;
}

.moreInfo div p {
    line-height: 1.5;
    color: #757068;
    font-size: 12px;
}

.moreInfo div p strong {
    padding-right: 8px;
}
.report {
        padding-bottom: 65px;
    }
.report a {
    background: url(img/mail_38e97b7.png) left center no-repeat;
    background-size: 12px auto;
    padding-left: 15px;
    color: #6c6c6c;
    font-size: 12px;
    margin: 0 auto;
    width: 55px;
    display: block;
}
.fav_apk_share{display:-webkit-box;margin-top:15px;border-top:#ded9d3 1px solid;padding-top:15px;height:16px;line-height:16px}
.fav_apk_share span{display:block;height:100%;-webkit-box-flex:1}
.fav_apk_share span.hide{display:none}
.fav_apk_share a{background:url(img/novelbg_aac0f4a.png) no-repeat;background-size:50px auto;padding-left:16px;color:#757068;font-size:14px;display:block}
.fav_apk_share a:active{color:#69635b}
.fav_apk_share a.downloadapk{background-position:0 -57px}
.fav_apk_share a.fav{background-position:0 -272px}
.fav_apk_share a.rmv{background-position:0 -57px}
.fav_apk_share a.share{background-position:0 -86px}
.fav_apk_share.two span.hide{display:block}


